@model IEnumerable<dineIN.Models.Customers>



<h1 class="customers">"Select Your Favorite Dish From Our Menu"</h1>
<hr />
<p>You can have only one Favorite Dish per Account</p>
<hr/>
<p >Then, Go to Reservations and Book a Table and Time</p>
<hr/>
<p >Welcome To Our Restaurant</p>
<hr/>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishNameNavigation.DishName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Email">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Email">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Email">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
